<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Perfect.Dictionary.Properties.Settings.ERP_THANHTAMConnectionString"
            connectionString="Data Source=.\perfect;Initial Catalog=ERP.2.9.1.4.Test;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.QLKConnectionString"
            connectionString="Data Source=.\perfect;Initial Catalog=ERP.2.9.1.4.Test;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.QLKConnectionString1"
            connectionString="Data Source=.\perfect;Initial Catalog=ERP.2.9.1.4.Test;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.ERP_PMQLKConnectionString"
            connectionString="Data Source=.\perfect;Initial Catalog=ERP.2.9.1.4.Test;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.ERPConnectionString"
            connectionString="Data Source=.\perfect;Initial Catalog=ERP.2.9.1.4.Test;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.ERP_KBHConnectionString"
            connectionString="Data Source=.\perfect;Initial Catalog=ERP.2.9.1.4.Test;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.QLBH_Standard2_6ConnectionString"
            connectionString="Data Source=.\perfect;Initial Catalog=ERP.2.9.1.4.Test;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.ERP_QLBH_2_9_1_4ConnectionString"
            connectionString="Data Source=.\perfect;Initial Catalog=ERP.2.9.1.4.Test;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.hongdanhblConnectionString"
            connectionString="Data Source=.\SQL2005EXPRESS;Initial Catalog=hongdanhbl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.DATAConnectionString"
            connectionString="Data Source=.\sql2005EXPRESS;Initial Catalog=DATA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Perfect.Dictionary.Properties.Settings.dms56605_thConnectionString"
            connectionString="Data Source=dmshongdanh.com;Initial Catalog=dms56605_th;Persist Security Info=True;User ID=dms56605_th;Password=Trantuyetnhi@0711"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
